/*
  FOOTER
*/
footer {
  color: white;
  width: 100%;
  min-height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 5px;
  z-index: 2000;
}

.mymobile-footer-details {
  color: black;
  margin: 0;
  font-weight: lighter;
}
