* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

a {
  color: currentColor;
  text-decoration: underline;
}

a:hover,
a:focus,
a:visited {
  color: currentColor;
}

.mymobile-inline-anchor {
  display: inline-block;
}

.mymobile-photo--image.is-hidden {
  transform: scale(0);
}

.mymobile-photo--image {
  transform: scale(1);
  transition: all 0.3s ease-out;
}

.mymobile-loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: white;
  transition: all 0.3s ease-out;
}

.mymobile-loading.is-loaded {
  transform: scale(0);
}
