.mymobile-photo-list {
  position: relative;
  padding: 10px 0;
  margin: 95px 0 45px;;
  max-width: 100%;
}

.mymobile-photo-list--image-container {
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.mymobile-photo-list--image-container:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mymobile-photo-list--image:hover::after {
  content: 'View';
  position: absolute;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 1.5em;
  text-transform: uppercase;
}

.mymobile-photo-list--image {
  width: 100%;
  position: relative;
}

.grid-item {
  width: 100%;
  padding: 10px;
}

@media all and (min-width: 600px) {
  .grid-item {
    width: 50%;
  }
}

@media all and (min-width: 800px) {
  .grid-item {
    width: 33.33%;
  }
}

@media all and (min-width: 992px) {
  .grid-item {
    width: 25%;
  }
}
